<div class="container-fulid">
  <div class="d-flex justify-content-center p-4">
    <div class="d-flex justify-content-center">
      <div class="text-dark">
        <img src="gas-station-svgrepo-com.svg" alt="station-svgrepo" /> 2/3
      </div>
      <div>
        <i class="fa-solid fa-rotate-right"></i> 20s
        <div><small>Last</small> <small>Update</small></div>
      </div>
      <div></div>
    </div>
    <div class="bg-light rounded-5 d-flex align-items-center px-1 gap-5">
      <div style="background-color: #ff7f5c" class="ts-sm rounded-5 p-1 px-4 text-white">
        <small>TODAY</small>
      </div>
      <div><small>YESTERDAY</small></div>
      <div><small>LASTWEEK</small></div>
    </div>
    <div></div>
  </div>
</div>
