<div class="main container-fulid">
  <div class="d-flex flex-column align-items-center">
    <div class="text-center mt-4">
      <i class="m-2 text-white fa-solid fa-droplet"></i>
    </div>
    <div class="text-white text-center d-flex flex-column gap-3">
      <i class="fa-solid fa-layer-group"></i>
      <i class="fa-solid fa-gear"></i>
      <i class="fa-regular fa-bell"></i>
    </div>
    <div class="text-center text-white">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
  </div>
</div>
